
body{


    direction: rtl;
    text-align: right;
    font-family: 'IRANSansWeb';
    position: absolute;
    width: 100%;
    min-height: 700px;
    background-color:#f6f8fa ;
}

.container-fluid{


    padding: 0;
}
@font-face {
    font-family: 'IRANSansWeb';
    src: url('../fonts/IRANSansWeb.ttf');
    src: url('../fonts/IRANSansWeb.eot') format('embedded-opentype'),
        url('../fonts/IRANSansWeb.woff') format('woff'),
        url('../fonts/IRANSansWeb.woff2') format('truetype');
    font-weight: bold;

}
.page-sidebar{

width:240px;
background-color: #263238;
height: 100%;
position: absolute;
bottom: 0;

}


.page-content{


}
#sidebar-menu li{

    list-style: none;
}

#sidebar-menu{

    padding: 0;
    margin-top: 60px;
}
#sidebar-menu li a{


    color:white;
    text-decoration: none;
    padding: 10px;
    display: block;
    cursor: pointer;
}
.child-menu{

    padding-top: 10px !important;
    background: #2c3840;
    display:none;
}

.child-menu a{

    width:100%;
    font-size:13px !important;
    padding-top: 5px;
}

.page-sidebar .fa-bars{


    color:white;
    font-size: 18px;
    float: left;
    cursor: pointer;
    margin:15px;
}

#sidebar-menu  .fa-angle-left{

    float:left;
    font-size: 16px;
    padding-left: 5px;
}

#sidebar-menu  .active{

    background: #00bfd6;
}

.toggled{
    width:50px;
    
}
.toggled .sidebar-menu-text{

    display: none;
}

.toggled .fa-angle-left{
    display: none;
}
.toggled .fa-angle-down {
    display: none;
}

.toggled #sidebar_menu li a{

    text-align: center;
}

.toggled .child-menu{

margin-right: 50px;

width:230px !important;


position: absolute;
margin-top: -41px;

z-index: 99999999;

border-right: 1px solid #e1e1e1;
}
.toggled .child-menu a{

    text-align: right;
}

.page-content{
    margin-right: 240px;
}
.content-box{

    width:97%;
    margin:40px auto;
}
.panel{

background: white;
width: 100%;
border: 1px solid #f3f3f3;
border-radius: 3px;
}

.header .panel{
    
    text-align: center;
    height: 45px; 
    border-bottom: 1px solid #f3f3f3;
    margin-top: 40px;
     /* display: flex;
    align-items: center; 
    justify-content: space-between; */

}

.panel .panel-content{
    padding:30px;
}
.container-left{

    padding-right: 300px;
}
.form-control{
    width:300px;
    border-radius:0px;
    font-size:14px;
    display: inline-block;

}
label{

 width:170px;
 font-size:14px;

 columns: #686868;
}

.form-control:focus {
  box-shadow: none;

}

.btn-success{

    border-radius: 0px;
}

.has-error{

    color:red;
    font-size: 13px;
} 
.bootstrap-select .dropdown{

    width:300px;
}

.bootstrap-select .btn-light {

    background: white;
    border:1px solid #ced4da !important;
    border-radius: 0px;

}
.bootstrap-select .btn-light .filter-option{

text-align: right !important;
} 
.bootstrap-select .dropdown-menu{

    text-align: right !important;

    overflow-x: hidden !important;
}

.bs-searchbox{
    width:300px !important;
}

.table-striped tbody tr:nth-of-type(2n+1){

    background-color: #f6f8fa;
}

.table tr th{

    font-size: 15px;

    text-align: center;
}

.table tr td{

    text-align: center;
}

.btn-primary{

    border-radius:0;
}

.dropdown-menu .inner .show a .text{

    font-size: 13px;
}

.message-div{

   background:rgba(255, 255, 255, 0.5) ; 


   width:100%;

   position: fixed;

   right:0px;
   left:0px;
   bottom: 0px;
   top:0px;
   z-index:10000;
  
   display:none;

}
.message-box{

    background: white;
    
    width:360px;
    height:135px;

    position:absolute;

    margin:auto;
    right:0px;
    left:0px;
    bottom: 0px;
    top:0px;
    font-size:16px;
    padding:20px;
    border-radius:4px;

    text-align:center;

    box-shadow: 0 1px 4px 0px rgba(0,0,0,0.1);
}

.message-box  #msg{

    padding-top:10px !important ;
    padding-bottom: 10px ;
    font-size: 15px;
}

.message-box .alert{

    padding:5px 30px 5px 30px !important;

    cursor:pointer;

    font-size: 14px;
}

.message-box .alert-danger{


    margin-right:10px;
}

 .btn-secondary.dropdown-toggle{
 background: white;
 color:black;
 margin-right: 430px;
 

 }
  .btn-secondary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(194, 197, 201, 0.849);

  }
 .dropdown-item .off{

  columns: #999999 !important;
 } 
 
 .dropdown-item{
     cursor: pointer;
 }
 .dropdown .dropdown-menu{
     text-align: right !important;
     font-size: 13px;
     padding-top: 0px;
     padding-bottom: 0px;
     max-height: 250px !important;
 }
 .dropdown-menu .dropdown-item{
     padding: 10px!important;

 }
.dropdown-toggle:focus{

    box-shadow: none !important;
}
.header .dropdown-menu .dropdown-item:focus{
    background: red;
}
.tooltip{

    font-family:IRANSANSWeb !important;
}
.tooltip-inner{

    background:#68a5ff !important;
    font-size: 13px !important;
}

.table  .fa-remove{

  color:red;
}

.breadcrumb{

    width:100%  !important;
    background: white !important;
    padding:0px;
    border:1px solid #f3f3f3;
}

.breadcrumb .list-inline{

    margin-bottom: 0px !important;
    width: 100%;
    padding-right:10px;
}

.breadcrumb  .list-inline li{

    display:inline-block;
    padding-top: 10px;
    padding-bottom: 10px;

    cursor:pointer;
    font-size:13px;
   
}

.breadcrumb .list-inline li a{

    color:black  !important;
 text-decoration: none;
} 

.breadcrumb .list-inline li a .fa-angle-left{
    padding-right: 5px;

    padding-top:10px;
    font-size: 16px;
    
}
.breadcrumb .fa-home{
    padding-left: 5px;
}

.date_li{
    float:left;
    background: #00bfd6;
    color:white;
    padding-right:12px;
    padding-left:12px;
    border-top-left-radius: 0.25;
    border-bottom-left-radius: 0.25;

}

.search-form{

    padding-bottom:20px;
    height: 40px;
}
.form-control{
  margin-bottom: 30px; 

}

.search-form .btn-primary{

    font-size:14px !important;
}
textarea{

    resize:none;
}

.brand-description{
    height: 170px;
}

.btn-success{
    background:#00bfd6 !important ;
    border-color: #00bfd6 !important;
}
.btn-primary{

   background:#68a5ff !important;
   border-color: #68a5ff !important;
}

.table tbody tr td{

    vertical-align: middle;
}
.jscolor{

    text-align:center !important;
}

.color{
    padding:5px 10px 5px;
    width:100px; 
    color:white;
}
.total_width_input{

    width:calc(100%-180px) !important;
}

.left{
    text-align: left;
}
.col-md-6 .form-control{
    width:100%;
}

.color_option{

    color:white;
    padding:5px;
    border-radius:4px;
    

}

.choice_pic_box{

    background: #f8f8f8;
    width:50%;
     display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 50px;
    
    border:1px dashed  #e5e5e5;
    cursor: pointer;
   /* position: relative; */

}
/* .choice_pic_box  .title{

    position: absolute;
    right:0px;
    left:0px;
    margin:auto;
    bottom:0px;
    top:0px;
     width:145px;
    height:20px; 
    color:gray;

} */
.pic_tag{

    margin:0px auto !important;
    display: table;
    max-width: 100%;
    max-height: 300px;
}
#tag_list{

    width:calc(100%-70px);

    float:right;




}
.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active{


    background-color: white;
    margin-right: 50px;
}

.tag_div{
    float:right;
    margin-top: 5px 10px;
    background: #f9f9f9;
    margin-left:10px;
    cursor:pointer;
    
}
.message_text{

font-size: 14px;
color:red;
}

#tozihat{

    width:100% !important;
}
.product_pic{

width:100px;
max-height: 220px;

}

.color_td{

    font-size: 14px;
    padding:5px;

    border-radius:5px;
}

#product_warranties .alert{

    padding:8px !important;
    border-radius:0px;

}
.dropzone{

border:2px dashed #68a5ff;
border-radius:3px;
background:#fff;
}
#loading_box{

    background:rgba(255,255,255,0.49);
    right:0px;
    left:0px;
    top:0px;
    bottom: 0px;
    position: fixed;
    width:100%;
    display: none;
}
.loading_div{

    width:220px;
    right:0px;
    left:0px;
    top:0px;
    bottom: 0px;
    height: 20px;
    margin:auto;
    text-align: center;
position: absolute;
    padding:20px;
     
}
.loading{

    width:30px;
    height: 30px;
    border:3px solid red;
    float: left;
    margin-left:10px;
    border-top:3px solid white;
    border-radius:50%;
    animation: load 1s  linear infinite;


}
@keyframes load{

    0%{transform:rotate(0deg)}
    100%{ transform: rotate(360deg)}
}
.ui-sortable-helper{

    display:table;
}
.slide_img{

    width:400px;
    height:130px;
}

.item_groups{

    padding:15px;
    background:#f8fafc ;
    border-radius: 4px;


}
.item_groups .form-control{

    max-width: 50% !important;
}
.item_remove_message{

    color:red;
    font-size: 14px;
    cursor:pointer;
    float:left;
}
.child_item_remove_message{

    color:red;
    font-size: 14px;
    cursor:pointer;
    float:left;
}

.input_item_box{

margin-top: 10px;

}

#product_items_form  .form-control{

    width:calc(100%-240px);
}
.item_filter_box{

    width:calc(100%-270px) !important;

   background: white;
    margin-right: 176px;

    max-height: 300px;

    z-index: 10;

    position: relative;

    display: none;

}

.item_filter_box  ul{

    position: absolute;
     width:100%;
     background: white;
     
     padding:5px;

     overflow-y: auto;

     border:1px solid #ced4da;


}
.item_filter_box ul li{

    list-style: none;
    padding:10px;
    cursor: pointer;
    font-size: 13px;
}
.show_filter_box{

    cursor:pointer;
}
.select_item {

    font-size: 13px;
    padding: 5px 7px;
    border: 1px solid #00bfd6;
    border-radius: 5px;
    cursor: pointer;
}

.modal-header {


    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0px 15px;

    border-bottom: 1px solid #e9ecef;

    border-top-left-radius: 0.3rem;

    border-top-right-radius: 0.3rem;

    height: 50px
}

.modal-header .close {

    padding: 0px !important;

    margin: 0px !important;
}

.modal-header .h5 {

    margin-bottom: 0px;
}

#priceBox lable {


    width: 35%;
}
.picker{

    width:300px !important;
}

.remove_item{

   font-size:13px;
   
   background: #ef5661;

   color:white;

   padding:5px 7px;

   border-radius: 5px;

   margin-top:19px;

   cursor:pointer;

}






