@font-face {
    font-family: 'IRANSansWeb';
    src: url('../fonts/IRANSansWeb.ttf');
    src: url('../fonts/IRANSansWeb.eot') format('embedded-opentype'),
        url('../fonts/IRANSansWeb.woff') format('woff'),
        url('../fonts/IRANSansWeb.woff2') format('truetype');
    font-weight: bold;

}

*
{

    padding:0;
    margin:0;

}

body{

direction:rtl;

text-align:right;

font-family:IRANSansWeb;
background: #f5f5f5;

color:#515151;


}

.header{

    width:100%;
    background:white;
padding:10px 20px;
display:flex;

}
.shop_logo{


    width:120px;
}
.header_row{

width:calc(100%-120px);
height: 55px;
padding:18px 0px;
display:flex;

}
.index_header_search{

width:calc(100%-436px);
margin-right:60px;
min-width: 480px;
margin-top: 30px;

}
.index_header_search  .form-control{


    height:37px;
    border-color:#d5dadd ;
    background-color:#eceff1;
    font-size:13px !important; 
   border-radius: 0px 7px 0px 7px !important;


}

.index_header_search .input-group-text{

  background: #ef5661 !important;
  width:60px;
  border-radius: 7px  0px 0px 7px !important;
  
  border:1px solid #ef5661;

  cursor: pointer;
  height: 37px;
}
.index_header_search .input-group-text .fa-search{

color: white;
font-size: 20px;
margin:auto;

}
.form-control{
    box-shadow: none !important;
}
.index_auth_div{


    width:145px;
    height:47px;
    cursor:pointer;
    font-size:16px;
    /* margin-right:20px; */
    margin-top:20px;
    line-height: 47px;
}
.header_action{
    margin-right:80px;
    display:flex;
}

.index_auth_div .fa-angle-down{

    float:left;
    font-size: 15px;
    line-height: 47px;
}
.header-auth-box{

width:250px !important;
direction:rtl !important;

text-align:right;
font-size:14px;

}
.header-auth-box::after{

    width:0;
    height:0;
    border-color: transparent transparent #ef5661;
    border-style:solid;
    border-width:0 8px 8px;
    position: absolute;
    bottom:100%;
    margin-bottom: 2px;
    left:30px;
    content:"";
}
.header-auth-box::before{

    height:4px;
    background-color: #ef5661;
    bottom: 100%;
    left:0;
    right:0;
    position: absolute;
    content:"";
}
.btn-primary{

    background: #2196f3 !important;
    border:1px solid #2196f3 !important;
   width:90%;

}
.header-auth-box .btn{

    width:calc(100%-20px) !important;
    margin:10px;

}

.header-auth-box .register-link{

font-size:15px;
font-weight: bold;
text-align: center;
padding-top: 5px 0px;


}
.link{

    color:#008ec9;
    border-bottom:1px dashed #008ec9;
}
a:hover{

    text-decoration: none;
}
.link:hover{

    color:#008ec9;
}

.header-auth-box .dropdown-item::before{

    width:30px;
    font-family: FontAwesome;
    padding:0px 10px;
    font-size:20px;

}
.header-auth-box  .profile::before{


    content:"\F2C0";
    

}
.header-auth-box a{

    padding-right:0px !important;
}
.header-auth-box .orders::before {


    content: "\F06B";
    }
.header-auth-box .admin::before{

    content:"\F0E4";
}
.header-auth-box .logout {

    cursor: pointer;
}
.header-auth-box .logout::before {

    content: "\F08B";
}
.header_divider{

    height:45px;
    width:0;
    border-right:1px solid #606060;
    margin-right:10px;

}
.btn-cart{
 width:154px;

 background-color: #fff;
 color:#00bfd6;
 border:1px solid #00bfd6;
 line-height: 25px;
 height:40px;
 margin-top: 20px ;
 margin-right:5px;
border-radius: 7px;
align-items: center;

display: flex;
padding:0 15px;
cursor:pointer;
}
#cart-product-count{

    display:flex;
}
#cart-product-count::after{


    background-color: #00bfd6;

    color:#fff;
    width:25px;

    line-height: 28px;
    display:block;
    content:attr(data-counter);

    text-align:center;

    border-radius:100%;
    margin-right:10px;


}
#cart-product-count::before{


    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;

    font-size:14px;
    line-height: 1;
    font: size 18;
    text-rendering: auto;

    content:"\F07A";

    line-height: 24px;
    margin-right:5px;

    margin-left:5px;
}
.index-cat-list{

    background-color:#616161 ;
    min-width: 1100px;
}
.index-cat-list .container-fluid{

    padding:0px;
    margin:0px;

}

.index-cat-list ul{

    position: relative;
}
.index-cat-list ul li{

    display:inline-flex;
    font-size:13px;
    padding:9px;

}
.index-cat-list ul li a {


    color: white;
    text-decoration: none;
}

.li_div{


    width:100%;

    background:white;

    position: absolute;

    left:0;

    right:0;

   top:100%;
      
    height:430px;

    padding:19px 24px 45px 280px;

    border-radius: 0px 0px 5px 5px;

    border:1px solid rgba(0,0,0,0.1);

 z-index:2000;

 display:none;
}
.subList{

    width:25%;

    float:right;

    z-index:20;


}

.subList .child_cat{

    color:#1ca2db;
}
.subList li{

    display:block !important;
    padding-top:0px;
}
/* .subList ul li a{

    color:#515151 !important;
} */ 
.index-cat-list ul li a {


   color:black;
}
.subList ul li{

    padding:5px 15px 0px !important;
}
.show-total-sub-cat{

    bottom:0px;
    position: absolute;
    right:24px;
    border-top: 1px solid #e9e9e9;

    padding: 12px 0px;
    width:calc(50%-160px);
}
.show-total-sub-cat a{
     

    color: #1ca2db !important;
}
.sub-menu-pic{

    position: absolute;
    bottom: 0px;
    left:0;
    z-index: 100;

    width:270px;
    max-height: 325px;

}
.sub-menu-pic img{

    max-width:100%;
    max-height: 100%;
    border-bottom-left-radius: 5px;
}
.left_item{

    float:left;
    background: #525252;
}
.cat_hover{

   position: absolute; 
   right:0px;

   top:0px;
   height: 100%;

   transform:scaleX(0);

 box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);

   transition: 0.3s;


   }
   .cat_hover div:before{

        content:"";

        position: absolute;
        bottom:0;

        left:0px;
        right:0px;
        height:2px;
        width:100%;

        background-color:#ef5661 ;

   }
   .slider_box{

    width:100%;
    height: 240px;
    margin-top:10px;

    position: relative;

   }

   @media(min-width:1281px){

    .slider_box{

        height:320px;
    }
    .slide_div a{

        width:320px;
    }
   }

   .slide_div{

    width:100%;
     display:none; 
   }
   .slide_div img{

    height:240px;
    background-repeat: no-repeat;

    background-position: 50%;

    opacity: 1;

    width:100%;

    display:block;

    background-size: cover;
   }
   #right_slide{

    width:48px;
    height: 65px;
    background-image: url("../files/images/next.png");
  position: absolute;

  top:104px;
  right:15px;
   }
   #left_slide{

     background-image: url("../files/images/back.png");
    top:104px;
     width:48px;
     height: 65px;
/* background-position: -19px -33px; */
position: absolute;

left:15px;
   }


   .slider_bullet_div{
   
    margin:-40px auto;
    display: table;

   }
   .slider_bullet_div span{

         width:12px;
            height:12px;
            border-radius:100%;
            margin-left:5px;
            cursor:pointer;
            display:inline-flex;
            opacity: 0.8;
            background-color: #fff;
            box-shadow: 0px 1px 0px rgba(0,0,0,0.3);

   }
   .slider_box_footer{

          width:100%;
          float:left;
   }

   .slider_bullet_div span .active{

      background-color: #00bfd6 !important;
   }
   .an{

    animation-name: slider;

    animation-duration: 1.5s;

   }
   @keyframes slider{

    from{opacity:0.1}

    to{opacity:1}
   }
@media(min-width:1281px) {

.slider .col-2{

    display:none;
}
.slider  .col-10{


    max-width:100% !important;

    flex :0 0 100% !important;
}

}
.select_item{

    font-size:13px;
    padding:5px 7px;
    border:1px solid #00bfd6;
    border-radius:5px;
    cursor:pointer;
}
.discount-box{

    position: relative;

    color:#515151;
    margin-top:30px;
    margin-bottom:20px;
    width:100%;
    border-radius:5px;
    height:435px;
    line-height: 22px;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.7);
    background: #fff;
   overflow: hidden;

}
.discount-box .item{


    display:none;

    columns: #727272;
}
.discount-box img{

    height:270px;
    margin:55px auto;
    display: block;

    }
    .discount-box-content{

        width:100%;

    }
    .discount_bottom_bar{


       width:223px;
       position: absolute;

       height:46px;

       left:calc(50%-111px);
       
    }
    .discount_bottom_bar::before{

width:223px;
background: #ef5661 url("../files/images/inc.png") no-repeat 50%;
height:46px;

content:"";
display:block;
border-radius:0px 0px 24px 24px;
background-size: auto 19px;

    }
    .price_box{

        margin-top:30px;


    }
    .incredible-offers-price{

        margin-top:10px;

    }
     .incredible-offers-price label{

         font-size: 23px;
         font-weight: bold;
         color:#ef5661;
         margin-top:5px;
         margin-left:15px;

     }
     .price_box del{


        font-size: 16px;

        font-weight: bold;
     }

     .discount-badge{

        padding:5px 10px;

        color:white;

        background: #ef5662;
        border-radius: 15px;
        position: absolute;
        top:-12px;
        z-index:2;
        line-height: 1.222;
        letter-spacing: 0.5;


     }
     .discount_title{


        margin:20px 0px 10px 15px;
        font-weight:700 ;

        text-align: right;

        color:#515151 !important;
        line-height: 30px;
        

     }
     .important_item_ul{


        margin:15px ;
     }
     .important_item_ul li{


         columns: #5d5d5d;
         padding-top:5px 0px;
         
     }
